body {
    margin-top: 20px;
    background-color: #df80ff;
}

h1 {
  display: block;
  font-family: 'Macondo', sans-serif;
  text-align: center;
  font-size: 65px;
}

h3 {
  font-family: 'Macondo', sans-serif;
  text-align: center;
  font-size: 40px;
}

h4 {
  font-family: 'Macondo', sans-serif;
  text-align: right;
  font-size: 25px;
}

p {
  font-size: 25px;
  margin: auto;
  width: 50%;
  font-family: sans-serif;
  text-align: center;
}

.button {
  margin-right: 200px;
}